html,body 
{
	margin:0 auto;
	padding:0px;
	border-width:0px;
	width:100%;
	height:100%;
}

#canvas
{
	position:fixed;
	top:25%;
	left:30%;
}

#presentation 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#jeu 
{
	position:fixed;
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	
}

#saisieHiscore 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.gamemenu .start
{
	position: fixed;
	top: 72%;
	left: 32%;
	font-family: fantasy;;
	color: black;
	border: white;
	font-size: x-large;
}
.gamemenu .titre{
	position: fixed;
	top: 37%;
	left: 32%;
	width: 15%;
	z-index: 1;
}
.gamemenu .startmenu {
	position: fixed;
	top: 25%;
	left: 30%;
}

.startgame{
	position: fixed;
	top: 25%;
	left: 30%;
}
